.mb-8{
    margin-bottom: 32px;
}
.mr-50{
    margin-right: 50px;
}
.p-8{
    padding: 32px;
}
.pl-8{
    padding-left: 32px;
}
.px-8{
    padding-left: 32px;
    padding-right: 32px;
}
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}